.AdOne{
  .AdOne-header{
    h3{
      margin-top: -2%;
      margin-bottom: 10%;
    }
    .palm{
      position: absolute;
      height: 4em;
    }
    .palm-left{
      left: 1.5em;
    }
    .palm-right{
      right: 1.5em;
    }
    h2.us {
      font-size: 22px;
    }
  }

  .view{
    width: 80%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    .download{
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      bottom: 15%;

      a {
        display: none;
        text-decoration: none;
        &.active {
          display: inline-block;
        }
        span.long-press, span.other-browsers {
          display: inline-block;
          font-size: 16px;
          color: white;
          font-weight: bold;
          width: 200px;
          vertical-align: middle;
        }
      }

      img{
        width: 5em;
        display: inline-block;
        margin-right: 0.5em;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
      }
    }
    .download.us {
      a.ios {
        display: none;
      }
      img {
        width: auto;
        height: 40px;
      }
    }
  }
}
