.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.ad{
  display: inline-block;
  height: 100vh;
}

.ad .ad-wrap{
  position: relative;
  text-align: center;
  color: white;
  height: 100vh;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  max-width: 420px;
}

.ad .ad-wrap:before{
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top:-200px;
  height: 200px;
  width: 100%;
  transform: rotate(-180deg);
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #000000 100%);
  opacity: 0.4;
}

.ad .ad-wrap:after{
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  bottom: -200px;
  height: 200px;
  width: 100%;
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #000000 100%);
  opacity: 0.4;
}

.ad1{
  background: #6ED6D7;
}

.ad2{
  background: #69D6D8;
}

.ad3{
  background-image: url('./bg-3.png');
  background-size: cover;
}

.ad4{
  background-image: url('./bg-4.png');
  background-size: cover;
}

.ad5{
  background: rgb(240, 240, 240);;
}

.Content-left, .Content-right{
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  img{
    position: relative;
    opacity: 0.4;
    height: 32px;
    margin-top: 6px;
    display: block;
    margin: 0 auto;
  }
}

.Content-left{
  left: 0;
}

.Content-right{
  right: 0;
}
